<h1>Contact Manager</h1>
<form id="searchbox" action="/search" method="post">
  <input name = 'contact' id="search" type="text" placeholder="Type here">
  <input id="submit" type="submit" value="Search">
</form><br>
<form id='add' action='/new' method='get'>
  <input type="submit" value="Add a Contact">
</form><br>
<form id='list' action='/list' method='get'>
  <input type="submit" value="Show all Contacts">
</form>