<form method="post" action="/new">
    <h1>New Contact</h1>
    <label>First Name</label>
    <input type="text" name="first_name"><br>
    <label>Last Name</label>
    <input type="text" name="last_name"><br>
    <label>Email</label>
    <input type="text" name="email"><br>
    <button type='submit'>Submit</button>
</form>